.btn-group-xs > .btn, .btn-xs {
	padding: .25rem .4rem;
	font-size: .875rem;
	line-height: .5;
	border-radius: .2rem;
  }

ul, ol {
    list-style:none;
    display:block;
    width: fit-content;
}

.o > li {
    float: none;
    display:block;
}

.o li a {
    color:rgb(0, 0, 0);
    text-decoration:none;
    padding:1.5px 7.5px;
    display:block;
}

.o li a:hover {
    background-color:#ffffff;
}

.o li ul {
    display:none;
    position:absolute;
    min-width:140px;
}

.o li:hover > ul {
    display:block;
}

.o li ul li {
    position:relative;
}

.o li ul li ul {
    right:-100px;
    top:0px;
}

#nuevo{
	background-color: rgb(224, 224, 224);
	font-size: small;
	margin-left: 50px;
}

#nuevo2{
	margin-left: 113px;
	margin-right: auto;
}

.content-input input,
.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.content-select select{
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

/* Eliminamos la fecha que por defecto aparece en el desplegable */
.content-select select::-ms-expand {
  display: none;
}

.content-select{
  margin-left: auto;
	position: relative;
}
 
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 0;
	border-radius: 0;
	background: #704aad;
	color: #7b7b7b;
	font-size: 1em;
	color: rgb(255, 255, 255);
	font-family: 
	'Quicksand', sans-serif;
	border:2px solid rgba(0,0,0,0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}
 
.content-select select:hover{
	background: rgb(66, 74, 146);
}
 
/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select i{
	position: absolute;
	right: 20px;
	top: calc(50% - 13px);
	width: 16px;
	height: 16px;
	display: block;
	border-left:4px solid rgb(23, 150, 86);
	border-bottom:4px solid rgb(64, 219, 142);
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}
 
.content-select:hover i{
	margin-top: 3px;
}

.card{
	background-color: rgb(184, 204, 192);
}


.contact-area {
    margin-left: auto;
	margin-right: auto;
	background-color: rgb(179, 202, 228);
}
.contact2-area {
    margin-left: auto;
    margin-right: auto;
}

.contact {
    position: relative;
    margin: inherit;
    margin-left: auto;
    margin-right: auto;
}

.contact2 {
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.boton-personalizado {
    text-decoration:none;
    font-size:20px;
    color:#0d6e46;
}
    
    /* Este es el estilo al poner el cursor encima del boton*/
.boton-personalizado:hover {
    color: black;
}

.otroestilo{
	color: rgb(25, 0, 255);
	font-weight: bold;
}

.otroestilo2{
    color: rgb(0, 104, 47);
}
