{% extends 'base.html' %}

{% block title %}
Productos
{% endblock title %}

{% block css2%}{% load static %}
<link href="{% static 'assets/css/index.css' %}" rel="stylesheet">
{% endblock css2 %}

{% block header %}
<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
  <div class="container-fluid">

    <div class="row justify-content-center">
      <div class="col-xl-11 d-flex align-items-center">
        <h1 class="logo mr-auto"><a href="">OpenDigital</a></h1>
        <a href="" class="logo mr-auto"><img src="{% static 'assets/img/logo.png' %}" alt="" class="img-fluid"></a>
        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
          </ul>
        </nav><!-- .nav-menu -->
      </div>
    </div>

  </div>
</header><!-- End Header -->
{% endblock header %}

{% block intro %}
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active"
                    style="background-image: url(../static/assets/img/intro-carousel/fondo2.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Categorías</h2>
                            <!-- ======= Portfolio Section ======= -->
                            <section id="portfolio" class="section-bg" style="background-color: transparent">
                                <div class="container" data-aos="fade-up">

                                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                                        <div class=" col-lg-12" style="text-align: center; align-items: center;">
                                            <ul id="portfolio-flters">
                                                {% for categoria in categories %}
                                                <li data-filter="*" >{{categoria.name}}</li>
                                                {% endfor %}<!--
                                                <li data-filter="*" class="filter-active">All</li>
                                                <li data-filter=".filter-app">App</li>
                                                <li data-filter=".filter-card">Card</li>
                                                <li data-filter=".filter-web">Web</li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </section><!-- End Portfolio Section -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock intro %}

{% block main %}
<!--
<div class="nuevo col-md-3" id="nuevo">
    <br>
    <div class="o" style="text-align: center;">
        <h5>Categorias</h5>
    </div>
    <br>
    <div class="o" style="text-align: center">
        <hr>
        <ul class="o">
            {% for categoria in categories %}
            <li class="has-sub" style="text-align: left;">
            </li>
            {% endfor %}
        </ul>
        <hr>
        {% if flag0 %}
        <div class="nuevo">
            <h5 class="offset-md-2">
                Sub-Categorias
            </h5>
            <p class="offset-md-1">
                {{nombre_cat}}
            </p>
            <ul class="o" *ngFor="let subcategory of sub_categoria">
                <li class="has-sub" *ngIf="subcategory.padre == id_cat">
                    <button class="btn btn-info btn-xs" (click)="editCat(subcategory.id)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button class="btn btn-danger btn-xs" (click)="deleteCat(subcategory.id)">
                        <i class="fas fa-trash"></i>
                    </button>
                    &nbsp;&nbsp;
                    <a (click)="ver(subcategory)" style="float: right;">{{subcategory.nombre_categoria}}</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
    <br>
</div>

{% if categories %}
<table class="table table-bordered">
	<thead>
		<tr>
            <td>Categoría</td>		
		</tr>		
	</thead>
	<tbody>
		{% for categoria in categories %}
		<tr>
			<td>{{ categoria.name }}</td>
		</tr>
		{% endfor %}
        {% else %}
        <br>
        <br>
		<h1>Aún no se han registrado categorias!</h1>
		{% endif %}
	</tbody>
</table> -->

{% block portafolio %}
<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="section-bg">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3 class="section-title">Our Portfolio</h3>
        </header>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class=" col-lg-12">
                <ul id="portfolio-flters">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-app">App</li>
                    <li data-filter=".filter-card">Card</li>
                    <li data-filter=".filter-web">Web</li> AUDIO BATERÍAS CABLES CÁMARAS CARGADORES COMPONENTES PARA PCS COMPUTADORAS DISCOS DUROS GAMING IMPRESORAS Y SUMINISTROS LIMPIEZA, HERRAMIENTAS Y OTROS MEMORIAS PROGRAMAS PROYECTORES REDES TABLETS
                </ul>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="{% static 'assets/img/portfolio/app1.jpg '%}'" class="img-fluid" alt="">
                        <a href="{% static 'assets/img/portfolio/app1.jpg' %}" data-lightbox="portfolio"
                            data-title="App 1" class="link-preview"><i class="ion ion-eye"></i></a>
                        <a href="portfolio-details.html" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="portfolio-details.html">App 1</a></h4>
                        <p>App</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="{% static 'assets/img/portfolio/app3.jpg' %}" class="img-fluid" alt="">
                        <a href="{% static 'assets/img/portfolio/app3.jpg' %}" class="link-preview venobox"
                            data-gall="portfolioGallery" title="App 3"><i class="ion ion-eye"></i></a>
                        <a href="portfolio-details.html" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="portfolio-details.html">App 3</a></h4>
                        <p>App</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="{% static 'assets/img/portfolio/card1.jpg' %}" class="img-fluid" alt="">
                        <a href="{% static 'assets/img/portfolio/card1.jpg' %}" class="link-preview venobox"
                            data-gall="portfolioGallery" title="Card 1"><i class="ion ion-eye"></i></a>
                        <a href="portfolio-details.html" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="portfolio-details.html">Card 1</a></h4>
                        <p>Card</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="{% static 'assets/img/portfolio/card3.jpg' %}" class="img-fluid" alt="">
                        <a href="{% static 'assets/img/portfolio/card3.jpg' %}" class="link-preview venobox"
                            data-gall="portfolioGallery" title="Card 3"><i class="ion ion-eye"></i></a>
                        <a href="portfolio-details.html" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="portfolio-details.html">Card 3</a></h4>
                        <p>Card</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <figure>
                        <img src="{% static 'assets/img/portfolio/web1.jpg' %}" class="img-fluid" alt="">
                        <a href="{% static 'assets/img/portfolio/web1.jpg' %}" class="link-preview venobox"
                            data-gall="portfolioGallery" title="Web 1"><i class="ion ion-eye"></i></a>
                        <a href="portfolio-details.html" class="link-details" title="More Details"><i
                                class="ion ion-android-open"></i></a>
                    </figure>

                    <div class="portfolio-info">
                        <h4><a href="portfolio-details.html">Web 1</a></h4>
                        <p>Web</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Portfolio Section -->
{% endblock portafolio %}

{% endblock main %}