{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %} ">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>
<header>
    <section class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="icon">
                       <a href="#"><i class="fa fa-facebook"></i></a>
                       <a href="#"><i class="fa fa-twitter"></i></a>
                       <a href="#"><i class="fa fa-google-plus"></i></a>
                       <a href="#"><i class="fa fa-linkedin"></i></a>
                       <a href="#"><i class="fa fa-wifi"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="clear"></div>
    <section class="header">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                   <div class="logo">
                    <a href="#"><h2>OpenDigital</h2></a>
                   </div>
                </div>
                <div class="col-md-7">
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">HOME</a></li>
                      <li><a href="#">PHOLDER</a></li>
                      <li><a href="#">CONTAC US</a></li>
                      <li><a href="#">ABOUT US</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                   <div class="header-part">
                    <p>HOME &nbsp;&nbsp;&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;ABOUT US</span></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
<section class="slider">
    <img src="{% static 'img/slider-about.jpg' %}" alt="Slider">
</section>
<section class="our_skill">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text">
                    <h2>¿Quiénes somos?</h2>
                    <p>Somos una empresa que cada día crece para poder estar actualizados conforme a los estándares de tecnología que se generan diariamente.</p>
               <p>Cada producto es garantizado, seguro y confiable. Debido a que los proveedores testean los artículos antes de venderlos.
                <br>Además contamos con una gran diversidad de productos, para que pueda elegir entre precio-calidad y así pueda elegir el que más le convenga.</p>
                </div>
            </div>
            <div class="col-md-6">
                 <div class="progress_bar">
                  <h2>Our Favorits</h2>
                  <p>Camera</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:70%"></div>
                  </div>
                  <p>USB</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:60%"></div>
                  </div>
                  <p>FREE-COOLER</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:50%"></div>
                  </div>
                  <p>RAM MEMORY</p>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:55%"></div>
                  </div>
                  </div>
            </div>
        </div>
    </div>
</section>
<section class="features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Features</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
               <div class="text-img left">
                   <img src="{% static 'img/logo-one.jpg' %}">
                <h3>Tust Adrenalin</h3>
                <p>Lorem ipsum dolor sit amet, has et probatus tem, ad sea alii cetero scripserit. Ius accusa legendos omittantur cu,</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="text-img center">
                   <img src="{% static 'img/logo-one.jpg' %}">
                <h3>Our Mission</h3>
                <p>Lorem ipsum dolor sit amet, has et probatus tem, ad sea alii cetero scripserit. Ius accusa legendos omittantur cu,</p>
               </div>
            </div>
            <div class="col-md-4">
               <div class="text-img right">
                   <img src="{% static 'img/logo-two.jpg' %}">
                <h3>Fashion Style</h3>
                <p>Lorem ipsum dolor sit amet, has et probatus tem, ad sea alii cetero scripserit. Ius accusa legendos omittantur cu,</p>
               </div>
            </div>
        </div>
    </div>
</section>
<section class="team">
   <div class="clear"></div>
    <div class="container">
       <div class="row">
           <div class="col-md-12">
               <h2>Meet The Team</h2>
           </div>
       </div>
        <div class="row">
            <div class="col-md-3">
               <div class="teams">
                    <img src="{% static 'img/tema1.jpg' %}">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="{% static 'img/tema2.jpg' %}">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="{% static 'img/tema3.jpg' %}">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="{% static 'img/tema4.jpg' %}">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="{% static 'img/tema5.jpg' %}">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="{% static 'img/tema6.jpg' %}">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="{% static 'img/tema1.jpg' %}">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
            <div class="col-md-3">
               <div class="teams">
                    <img src="{% static 'img/tema2.jpg' %}">
                <div class="icon">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
                <div class="overlay"></div>
            </div>
                <h3>Michael Williams</h3>
                <p>CREATIVE LEAD</p>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2>INFORMATION</h2>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Best sellers</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Best sellers</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Best sellers</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Best sellers</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Best sellers</p></a>
                </div>
                <div class="col-md-4 center">
                    <h2>INFORMATION</h2>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Best sellers</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Best sellers</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Best sellers</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Best sellers</p></a>
                    <a href="#"><p><i class="fa fa-circle" aria-hidden="true"></i>Best sellers</p></a>
                </div>
                <div class="col-md-4">
                    <div class="footer-contact">
                        <h2>CONTACT US</h2>
                        <a href="#"><p><i class="fa fa-map-marker" aria-hidden="true"></i>Rangpur , Bangladesh</p></a>
                        <a href="#"><p><i class="fa fa-phone" aria-hidden="true"></i>+88 01761070282</p></a>
                        <a href="#"><p><i class="fa fa-envelope" aria-hidden="true"></i>sshahriar458@gmail.com</p></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
       <div class="footer_overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="copy_txt">
                        <p>Copyright © 2014  Designed by <span>shawon</span></p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="footer_logo">
                        <img src="{% static 'img/fedex.png' %}">
                        <img src="{% static 'img/master-card.png' %}">
                        <img src="{% static 'img/paypal.png' %}">
                        <img src="{% static 'img/visa.png' %}">
                        <img src="{% static 'img/american-express.png' %}">
                        <img src="{% static 'img/dhl.png' %}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>  
<script src="{% static 'js/bootstrap.min.js' %}"></script>  
<script src="{% static 'js/active.js' %}"></script>  
</body>
</html>